{% load url from future %}
<!doctype html>

<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>Crow Jasmine Spec Runner</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'crow/libs/jasmine/jasmine_favicon.png' %}">
    <link rel="stylesheet" href="{% static 'crow/libs/jasmine/jasmine.css' %}">

    <script src="{% static 'crow/libs/jasmine/jasmine.js' %}"></script>
    <script src="{% static 'crow/libs/jasmine/jasmine-html.js' %}"></script>
    <script src="{% static 'crow/libs/jasmine/boot.js' %}"></script>

    {# source files as defined in crow/jasmine/files.json #}
    {% for url in suite.js_files %}
        <script src="{{ url }}"></script>
    {% endfor %}

    <script data-main="{% static 'crow/main.js' %}" src="{% static 'crow/libs/require/require.js' %}"></script>


    {# static files as defined in crow/jasmine/files.json #}
    {% for url in suite.static_files %}
        <script src="{{ STATIC_URL }}{{ url }}"></script>
    {% endfor %}

    {# spec files as found in crow/jasmine/spec/*#}
    {% for file in files %}
        <script src="{% url "jasmine_test" file %}"></script>
    {% endfor %}

</head>
<body>
{##}
{#<script>#}
{#    {% block jasmine %}#}
{#        (function() {#}
{#            var jasmineEnv = jasmine.getEnv();#}
{#            jasmineEnv.updateInterval = 1000;#}
{##}
{#            var htmlReporter = new jasmine.HtmlReporter();#}
{##}
{#            jasmineEnv.addReporter(htmlReporter);#}
{##}
{#            jasmineEnv.specFilter = function(spec) {#}
{#                return htmlReporter.specFilter(spec);#}
{#            };#}
{##}
{#            // Additional configuration can be done in this block#}
{#            {% block jasmine_extra %}{% endblock %}#}
{##}
{#            var currentWindowOnload = window.onload;#}
{##}
{#            window.onload = function() {#}
{#                if (currentWindowOnload) {#}
{#                    currentWindowOnload();#}
{#                }#}
{#                execJasmine();#}
{#            };#}
{##}
{#            function execJasmine() {#}
{#                jasmineEnv.execute();#}
{#            }#}
{##}
{#        })();#}
{#    {% endblock %}#}
{#</script>#}

</body>
</html>
