{% extends "base.html" %}
{% load bootstrap3 %}

{% block style_css %}
    #login {
        z-index: 50;
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);

        min-width: 29rem;
        max-width: 31.2rem;
        margin: 0 auto;
        padding: 1.85rem 0 2.5rem 0;
        background-color: rgb(235, 235, 235);
        border-radius: 7px;
    }

    #login h1 {
        font-size: 230%;
        max-width: 25rem;
        margin: 0 auto 1.25rem auto;
    }

    #login p {
        max-width: 28rem;
        margin: 0 auto 1.25rem auto;
    }

    #login p:last-of-type {
        max-width: 25rem;
    }

    #login form {
        margin: 0 auto;
        max-width: 25rem;
    }

    #overlay {
        position: absolute;
        top: 40px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 50;
        display: block;
        background-color: rgba(0, 0, 0, 0.55);
    }
{% endblock %}

{% block content %}
<div id="overlay"></div>
<div id="login">
    <h1>Login required</h1>
    {% if form.errors %}
        <p>An error occured when trying to login!</p>
    {% endif %}
    <form method="post" action="{% url 'auth_login' %}">
        {% csrf_token %}
        {% bootstrap_form form layout='inline' %}
        {% buttons %}
        <button type="submit" class="btn btn-primary" value="login">
            Login
        </button>
        <input type="hidden" name="next" value="/" />
        {% endbuttons %}
    </form>
    <p>Don't have an account yet? <a href="{% url 'registration_register' %}">Register.</a></p>

</div>
{% endblock %}