<?xml version = '1.0' encoding = 'UTF-8'?>
<?xml-stylesheet type=text/xsl href=http://plugins.qgis.org/static/style/plugins.xsl ?>
<plugins>
  <pyqgis_plugin name='Open eQuarter' version='0.2'>
    <description>The plugin automates the setup for investigating an area.</description>
    <version>0.2</version>
    <qgis_minimum_version>2.4</qgis_minimum_version>
    <homepage>http://www.arch.udk-berlin.de/nytsch/index.php?pageid=4</homepage>
    <file_name>mole.zip</file_name>
    <author_name>Kim Gülle / Open eQuarter Team UdK-Berlin</author_name>
    <download_url>http://udk-vpt.github.io/Open_eQuarter/qgis_repo/mole.zip</download_url>
    <uploaded_by>OeQ Team</uploaded_by>
    <create_date>2015-03-10</create_date>
    <update_date>2015-03-12</update_date>
  </pyqgis_plugin>
</plugins>
