body {
    overflow: hidden;
    height: 100%;
}

#map {
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 35;
}

#map .ol-zoom {
    font-size: 1.2em;
}

.zoom-top-opened-sidebar {
    margin-top: 5px;
}

.zoom-top-collapsed {
    margin-top: 45px;
}

.sidebar {
    z-index: 45;
}

.main-row {
    position: relative;
    top: 50px;
}